<h1>Flats</h1>
<h3>Boas vindas ao sistema de locação de apartamentos</h3>
<nav>
  <%= link_to 'Cadastrar Imóvel', new_property_path %>
</nav>

<% if @properties.empty? %>
  <div>Nenhum imóvel disponível</div>
<% end %>
<% @properties.each do |property| %>
  <%= link_to(property.title, property) %>
  <%= property.description %>
  Quartos: <%= property.rooms %>
<% end %>